.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.rightContainer, .leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    width: 100%;
}

.cardFood {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: var(--border-radius);
    background: #faa976;
    box-shadow: 0 0 10px 0 rgba(var(--foreground-rgb), 0.1);
    border: 1px solid rgba(var(--callout-border-rgb), 0.5);
}

.cardDrink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: var(--border-radius);
    background: #76c2fa;
    box-shadow: 0 0 10px 0 rgba(var(--foreground-rgb), 0.1);
    border: 1px solid rgba(var(--callout-border-rgb), 0.5);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: var(--border-radius);
    background: #f2f2f2;
    box-shadow: 0 0 10px 0 rgba(var(--foreground-rgb), 0.1);
    border: 1px solid rgba(var(--callout-border-rgb), 0.5);
}

.input {
    padding: 1rem;
    margin: 1rem;
    border-radius: var(--border-radius);
    border: 1px solid rgba(var(--callout-border-rgb), 0.5);
}

.select {
    padding: 1rem;
    margin: 1rem;
    border-radius: var(--border-radius);
    border: 1px solid rgba(var(--callout-border-rgb), 0.5);
}

.btn {
    padding: 1rem;
    margin: 1rem;
    border-radius: var(--border-radius);
    border: 1px solid rgba(var(--callout-border-rgb), 0.5);
    background: #faa976;
    box-shadow: 0 0 10px 0 rgba(var(--foreground-rgb), 0.1);
    cursor: pointer;
}